<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<p>
			1.Easy Login & Registration with Server side validations.<br>
			2.Save Contacts on Cloud securely with Spring Security.<br>
			3.Encryption on saving passwords with BCrypt password encoder.<br>
			4.User Dashboard to view, add, update, delete contacts, users profile, logout etc.<br>
			5.Added pagination for pages to view more contacts.<br>
			6.Custom Search bar to view contacts for every user.<br>
			7.Easily view and delete the contacts.<br>
		
		</p>
	</section>
</body>
</html>